<div class="my-4 inline-flex items-center space-x-2 rounded-full border-2 border-corefeatures px-2 py-1 shadow-md">
    <div class="w-2 h-2 bg-corefeatures rounded-full flex-shrink-0"></div>
    <span class="capitalize inline-flex items-center text-sm font-medium text-carbon-500 dark:text-white">funcionalidades clave</span>
</div>