---
const { props, reverse } = Astro.props;
---
<h5 
    class={`font-semibold text-lg lg:text-2xl 
        ${reverse 
            ? 'text-white dark:text-warm-400' 
            : 'text-neutral-800 dark:text-warm-200'} 
        ${props}`}
>
    <slot />
</h5>