---
const { props, reverse } = Astro.props;
---
<p 
    class={`prose prose-md md:prose-lg leading-relaxed font-medium max-w-2xl 
        ${reverse 
            ? 'text-neutral-700 dark:text-gray-200 dark:prose-invert' 
            : 'text-neutral-400 dark:text-gray-200 dark:prose-invert'} 
        ${props}`}
>
    <slot />
</p>