---
import H2 from "../ui/basics/h2.astro";
import Titlehr from "../ui/basics/titlehr.astro";
import PrimaryButton from "../ui/basics/PrimaryButton.astro";
import H5 from "../ui/basics/h5.astro";

import { Image } from "astro:assets";
import laptopimage from "../../assets/images/laptop.jpeg";

import Linkedin from "../ui/icons/linkedin.astro";
import Instagram from "../ui/icons/instagram.astro";
---

<article class="flex flex-col items-center justify-center min-h-screen px-4 space-y-8 lg:px-0">
  <!-- Encabezado -->
  <section class="space-y-2 text-center">
    <H2>Contacto</H2>
    <Titlehr />
  </section>

  <!-- Contenido Principal -->
  <div class="flex flex-col items-center justify-center w-full max-w-6xl overflow-hidden rounded-lg shadow-lg lg:flex-row bg-soft-400 dark:bg-neutral-700">
    <!-- Imagen -->
    <aside class="hidden w-full lg:block lg:w-5/12">
      <Image 
        src={laptopimage} 
        alt="Imagen de un ordenador portátil" 
        class="object-cover w-full h-full shadow-lg" 
        loading="lazy" 
        decoding="async" 
      />
    </aside>

    <!-- Formulario -->
    <section class="w-full p-6 space-y-8 lg:w-7/12 lg:p-8">
      <!-- Texto y redes sociales -->
      <div class="space-y-4 text-center">
        <H5>Envíame un mensaje</H5>
        <div class="flex justify-center space-x-6">
          <a 
            href="https://www.linkedin.com/in/joelarnaudcarreras/" 
            class="transition text-neutral-700 dark:text-light-50 hover:text-warm-500" 
            aria-label="LinkedIn de Joël Arnaud Carreras"
          >
            <Linkedin class="w-6 h-6 drop-shadow-md" />
          </a>
          <a 
            href="https://www.instagram.com/sagiittarius24" 
            class="transition text-neutral-700 dark:text-light-50 hover:text-warm-500" 
            aria-label="Instagram de Joël Arnaud Carreras"
          >
            <Instagram class="w-6 h-6 drop-shadow-md" style="fill: currentColor;" />
          </a>
        </div>
      </div>

      <!-- Formulario -->
      <form id="contact-form" class="space-y-6">
        <div class="flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-4">
          <input
            type="text"
            name="name"
            placeholder="Nombre"
            required
            class="w-full px-4 py-3 border rounded-md text-neutral-800 dark:text-light-50 dark:bg-neutral-600 focus:outline-none focus:ring-2 focus:ring-soft-700"
            aria-label="Nombre"
          />
          <input
            type="text"
            name="lastname"
            placeholder="Apellidos"
            required
            class="w-full px-4 py-3 border rounded-md text-neutral-800 dark:text-light-50 dark:bg-neutral-600 focus:outline-none focus:ring-2 focus:ring-soft-700"
            aria-label="Apellidos"
          />
        </div>
        <input
          type="email"
          name="email"
          placeholder="Correo"
          required
          class="w-full px-4 py-3 border rounded-md text-neutral-800 dark:text-light-50 dark:bg-neutral-600 focus:outline-none focus:ring-2 focus:ring-soft-700"
          aria-label="Correo electrónico"
        />
        <textarea
          name="message"
          placeholder="Mensaje"
          rows="4"
          class="w-full px-4 py-3 border rounded-md text-neutral-800 dark:text-light-50 dark:bg-neutral-600 focus:outline-none focus:ring-2 focus:ring-soft-700"
          aria-label="Mensaje"
        ></textarea>
        <div class="text-center">
          <PrimaryButton id="submit-button" variant="secondary" type="submit">Contactar</PrimaryButton>
        </div>
      </form>

      <!-- Contenedor de notificaciones -->
      <div id="notification-container"></div>
    </section>
  </div>
</article>