<footer class="text-green-800 dark:bg-zinc-800 dark:text-white">
    <div class="mx-auto max-w-7xl py-4 px-4 {{ $class }} lg:px-8">
        <div class="flex items-center justify-center text-sm">
            <a href="https://www.instagram.com/sagiittarius24/" class="hover:text-green_light-500">
                &copy; Joël Arnaud Carreras
            </a>
        </div>
    </div>
</footer>