<footer class="text-neutral-800 dark:text-light-50">
    <div class="px-4 py-4 mx-auto max-w-7xl lg:px-8">
      <div class="flex items-center justify-center text-sm">
        <a 
          href="https://www.instagram.com/sagiittarius24/" 
          class="transition hover:text-warm-500 dark:hover:text-warm-400"
          aria-label="Instagram de Joël Arnaud Carreras"
          target="_blank"
        >
          &copy; Joël Arnaud Carreras
        </a>
      </div>
    </div>
  </footer>