---
import H1 from "../ui/basics/h1.astro"
import P from "../ui/basics/p.astro"
import Button1 from "../ui/basics/button1.astro"
import { Image } from "astro:assets"
import joelimage from "../../assets/images/joel.jpeg"
---

<section class="w-full h-screen min-h-screen lg:flex mb-12">
  <article class="w-full h-full relative flex flex-col items-center justify-center">
    <div class="w-full lg:hidden flex items-center justify-center mt-8 mb-8">
      <Image src={joelimage} alt="Joel" class="w-36 h-36 md:w-48 md:h-48 rounded-full shadow-lg object-cover" loading="lazy" decoding="async" />
    </div>
    <div class="leading-5">
      <div class="text-center mb-4">
        <H1>Joël</H1>
        <H1>Arnaud Carreras</H1>
      </div>
      <div class="mx-12 mt-8 lg:mx-24 lg:mt-12">
        <P>
          Soy <span class="font-bold">desarrollador web</span> con experiencia en Laravel y Astro, creando soluciones innovadoras y eficientes.
        </P>
        <br>
        <P>
          Trabajo en proyectos personales en GitHub y sigo aprendiendo para crecer como profesional mientras busco <span class="font-bold">nuevas oportunidades</span>.
        </P>
      </div>
      <div class="flex items-center justify-center mt-12 space-x-12">
        <a href="/proyectos">
          <Button1>
            Mis proyectos
          </Button1>
        </a>
        <a href="/sobremi">
          <Button1>
            Sobre mí
          </Button1>
        </a>
      </div>
    </div>
  </article>
  <aside class="hidden w-full h-8/12 lg:w-8/12 lg:flex">
    <Image src={joelimage} alt="Joel" class="w-full h-full" loading="lazy" decoding="async" />
  </aside>
</section>