---
import H3 from "../ui/basics/h3.astro"
import Pill from "../ui/elements/pill.astro"

import Laravel from "../ui/icons/laravel.astro"
import AstroIcon from "../ui/icons/astrojs.astro"
import Tailwind from "../ui/icons/tailwind.astro"
import HTML from "../ui/icons/html.astro"
import CSS from "../ui/icons/css.astro"
import JavaScript from "../ui/icons/javascript.astro"
import Java from "../ui/icons/java.astro"
import Python from "../ui/icons/python.astro"
import Git from "../ui/icons/git.astro"
import Mysql from "../ui/icons/mysql.astro"
---
<section class="flex flex-col items-center justify-center space-y-8">
    <!-- Estudios -->
    <H3>Estudios</H3>
    <ol class="relative ml-2 border-warm-400 border-s dark:border-warm-500">
      <!-- CFGS -->
      <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-warm-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-warm-500 dark:bg-warm-400"></div>
        <time class="mb-1 text-sm font-normal capitalize text-warm-600 dark:text-warm-200">Septiembre 2021 - Junio 2023</time>
        <h3 class="text-lg font-bold underline capitalize text-warm-700 dark:text-warm-400">CFGS - Desarrollo De Aplicaciones Web</h3>
        <p class="text-base font-normal leading-relaxed text-neutral-600 dark:text-light-400">
          Finalicé mis estudios en Desarrollo de Aplicaciones Web, donde adquirí habilidades avanzadas en programación, bases de datos y diseño de aplicaciones web.
          Esto me permitió dominar tecnologías como HTML, CSS, JavaScript y frameworks modernos para el desarrollo web.
        </p>
      </li>
      <!-- CFGM -->
      <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-warm-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-warm-500 dark:bg-warm-400"></div>
        <time class="mb-1 text-sm font-normal capitalize text-warm-600 dark:text-warm-200">Septiembre 2016 - Junio 2018</time>
        <h3 class="text-lg font-bold underline capitalize text-warm-700 dark:text-warm-400">CFGM - Técnico En Sistemas Operativos Y Redes</h3>
        <p class="text-base font-normal leading-relaxed text-neutral-600 dark:text-light-400">
          Obtuve el título de Técnico en Redes y Sistemas Operativos, aprendiendo a gestionar infraestructuras de red y sistemas operativos.
          Esto me brindó un entendimiento sólido en la instalación, configuración y mantenimiento de redes y equipos informáticos.
        </p>
      </li>
      <!-- ESO -->
      <li class="ms-4">
        <div class="absolute w-3 h-3 bg-warm-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-warm-500 dark:bg-warm-400"></div>
        <time class="mb-1 text-sm font-normal capitalize text-warm-600 dark:text-warm-200">Septiembre 2011 - Junio 2016</time>
        <h3 class="text-lg font-bold underline capitalize text-warm-700 dark:text-warm-400">Educación Secundaria Obligatoria</h3>
        <p class="text-base font-normal leading-relaxed text-neutral-600 dark:text-light-400">
          Completé mi Educación Secundaria Obligatoria, donde adquirí las bases académicas esenciales para mi desarrollo personal y profesional,
          destacando en materias como matemáticas, lengua y ciencias sociales.
        </p>
      </li>
    </ol>
  </section>
  
  <section class="flex flex-col items-center justify-center space-y-8">
    <!-- Habilidades -->
    <H3>Habilidades</H3>
    <section class="flex-col space-y-8">
      <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 2xl:gap-4">
        <Pill lang="Laravel"><Laravel /></Pill>
        <Pill lang="AstroJS"><AstroIcon /></Pill>
        <Pill lang="TailwindCSS"><Tailwind /></Pill>
        <Pill lang="HTML5"><HTML /></Pill>
        <Pill lang="CSS3"><CSS /></Pill>
        <Pill lang="JavaScript"><JavaScript /></Pill>
        <Pill lang="Java"><Java /></Pill>
        <Pill lang="Python"><Python /></Pill>
        <Pill lang="Git"><Git /></Pill>
        <Pill lang="MySQL"><Mysql /></Pill>
      </ul>
    </section>
  </section>