---
import H3 from "../ui/basics/h3.astro"
import Pill from "../ui/elements/pill.astro"

import ESPFlag from "../ui/icons/espFlag.astro"
import ENGFlag from "../ui/icons/engFlag.astro"
import Carnet from "../ui/icons/carnet.astro"
---
<section class="flex flex-col items-center justify-center space-y-8">
    <H3>Trabajos</H3>
    <ol class="ml-2 relative border-s border-green-200 dark:border-green-700">
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-green-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-green-900 dark:bg-green-700"></div>
            <time class="capitalize mb-1 text-sm font-normal leading-none text-green-400 dark:text-green-500">Marzo 2024 - Actualidad</time>
            <h3 class="capitalize underline text-lg font-bold text-carbon-800 dark:text-green-200 mb-4 md:mb-2">Bernat Petrus - Repartidor y mozo</h3>
            <p class="mb-4 text-base font-normal text-carbon-500 dark:text-gray-300">
                Actualmente, trabajo como repartidor y mozo, donde coordino rutas de entrega optimizando los tiempos para mejorar la eficiencia.
                Además, gestiono inventarios y participo en la carga y descarga de materiales, asegurando que los productos lleguen a tiempo y en perfectas condiciones.
            </p>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-green-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-green-900 dark:bg-green-700"></div>
            <time class="capitalize mb-1 text-sm font-normal leading-none text-green-400 dark:text-green-500">Junio (2018, 2019, 2022) - Septiembre (2018, 2019, 2022)</time>
            <h3 class="capitalize underline text-lg font-bold text-carbon-800 dark:text-green-200 mb-4 md:mb-2">World DuttyFree - Mozo de almacén y reponedor</h3>
            <p class="text-base font-normal text-carbon-500 dark:text-gray-300">
                Trabajé como mozo de almacén durante tres temporadas en World Duty Free, donde fui responsable del control de inventarios y la organización y
                reposición de productos. También asistí en la carga y descarga de mercancías y resolví las consultas de los clientes, asegurando una experiencia de compra fluida.
            </p>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-green-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-green-900 dark:bg-green-700"></div>
            <time class="capitalize mb-1 text-sm font-normal leading-none text-green-400 dark:text-green-500">Junio 2021 - Septiembre 2021</time>
            <h3 class="capitalize underline text-lg font-bold text-carbon-800 dark:text-green-200 mb-4 md:mb-2">Restaurante Xuroy - Camarero</h3>
            <p class="text-base font-normal text-carbon-500 dark:text-gray-300">
                En este restaurante, desempeñé el rol de camarero, atendiendo a los clientes en sala, tomando pedidos y ofreciendo recomendaciones sobre los platos.
                Además, fui responsable de la organización de reservas y la planificación de mesas, asegurando un servicio eficiente y de calidad.
            </p>
        </li>
    </ol>
</section>
<section class="flex flex-col items-center justify-center space-y-8 mt-8">
    <H3>observaciones</H3>
    <section class="flex-col space-y-8">
        <ul class="grid grid-cols-2 gap-6 items-center justify-between sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 2xl:gap-4">
            <Pill lang="Carnet de conducir B" className="col-span-2">
                <Carnet/>
            </Pill>
            <Pill lang="Inglés">
                <ENGFlag/>
            </Pill>
            <Pill lang="Español">
                <ESPFlag/>
            </Pill>
        </ul>
    </section>
</section>