---
import Layout from "./../layouts/Layout.astro"
import Estudios from "../components/blocks/studies.astro"
import Trabajo from "../components/blocks/works.astro"
import H2 from "../components/ui/basics/h2.astro"
import Titlehr from "../components/ui/basics/titlehr.astro"
import ReturnButton from "../components/ui/elements/returnButton.astro"
---
<Layout title="Joel Arnaud - Programador">
    <section class="flex flex-col items-center justify-center w-full max-w-6xl p-4 mx-auto xl:mt-12">
        <ReturnButton/>
        <div class="flex-col w-full mb-12 space-y-8 h-1/5">
            <H2>Sobre mí</H2>
            <Titlehr/>
        </div>
        <div class="space-y-24">
            <Estudios/>
            <Trabajo/>
        </div>
    </section>
</Layout>