---
import P from '../basics/p.astro';

const { lang, className } = Astro.props;
---
<li class={`${className} flex items-center space-x-4 bg-green-100 text-white py-2.5 px-4 rounded-md shadow-md dark:bg-carbon-400`}>
    <slot/>
    <P reverse>{lang}</P>
</li>